.card-page {
  background-color: var(--color-primary);
  color: white;
  .inner {
    padding: var(--space-lg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
      margin-bottom: var(--space-lg);
    }

    .subtitle {
      margin-bottom: toRem(39);
    }
  }
  @media all and (max-width: $md) {
    & > .flex {
      flex-direction: column !important;
      text-align: center !important;
      .inner {
        padding: var(--space-sm) toRem(20) toRem(20);
        .header {
          margin-bottom: toRem(17);
        }
        h2 {
          // font-size: var(--text-xl);
          margin-bottom: toRem(5);
        }

        .body {
          margin-bottom: toRem(21);
        }
      }
    }
  }
}
