header {
  position: sticky;
  width: 100%;
  top: 0;
  padding: var(--space-md) var(--space-lg);
  background-color: var(--color-primary);
  color: white;
  z-index: 50;
  transition: transform 0.2s var(--cubic), opacity 0.2s var(--cubic);
  &.is-down {
    transform: translateY(-100%);
    opacity: 0;
  }

  nav {
    text-transform: uppercase;
  }

  @media all and (max-width: $md) {
    padding: var(--space-md-mobile);
    .site-name {
      img {
        max-width: 113px;
      }
    }
    nav {
      .burger-wrapper.is-active + .inner {
        display: block;
      }
      .inner {
        display: none;
        position: fixed;
        right: 0;
        top: var(--header-height);
        width: 100%;
        height: calc(calc(var(--vh, 1vh) * 100) - var(--header-height));
        background-color: var(--color-primary);

        ul {
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
        }
      }
    }
  }
}
