/* BASE VARIABLES
 *******************/
:root {
  --app-height: 100vh;
  --header-height: 43.5px;
  --color-bg: #efefef;
  --color-primary: #e52329;
  --color-secondary: #fff;
  --color-hover: #333;
  --color-muted: #999999;

  --font-sans: "ModelStandard-Medium-Sans", "Helvetica Neue",
    "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman",
    "TeXGyreHerosRegular", "Helvetica", "Arial", sans-serif;
  --font-sans-i: "ModelStandard-Medium-Sans-Italic", "Helvetica Neue",
    "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman",
    "TeXGyreHerosRegular", "Helvetica", "Arial", sans-serif;
  --font-mono: "ModelStandard-Medium-Mono", "monospace", "Helvetica Neue",
    "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman",
    "TeXGyreHerosRegular", "Helvetica", "Arial", sans-serif;
  --font-mono-i: "ModelStandard-Medium-Mono-Italic", "monospace",
    "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman",
    "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Arial",
    sans-serif;
  --font-mono-b: "ModelStandard-Bold-Mono", "monospace", "Helvetica Neue",
    "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman",
    "TeXGyreHerosRegular", "Helvetica", "Arial", sans-serif;
  --font-mono-b-i: "ModelStandard-Bold-Mono-Italic", "monospace",
    "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman",
    "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Arial",
    sans-serif;

  --space-xs: 0.4em; //5
  --space-sm: 0.625em; //10
  --space-md: 1.25rem; //20
  --space-lg: 1.875rem; //30
  --space-xl: 3.75rem; //60
  --space-xxl: 6.25rem; //100

  --space-md-mobile: 0.938rem;
  // --text-md-mobile: 1rem; //16px

  --text-sm: 0.625rem; //10px
  --text-md: 1.125rem; //18px
  --text-md-mobile: 0.875rem; //18px
  --text-lg: 2.5rem; //40px
  --text-xl: 5rem; //80px

  /*
  xs: 8pt 10px
  md: 12pt 16px
  lg: 18pt 24px
  xl: 30pt 40px
  */

  // --cubic: cubic-bezier(0.53, 0, 0.36, 1);
  --cubic: cubic-bezier(0.775, 0, 0.17, 1.005);

  // --text-xl: clamp(26px, 5.21vw, 75px);

  --border-width: 2px;
  --border: var(--border-width) solid;
  --border-width-lg: 2px;
  --border-lg: var(--border-width-lg) solid;

  --gutter: 9px;

  --screen-sm: 768px;
  --screen-md: 1080px;
  --screen-lg: 1441px;
}

/* Breakpoints */
$sm: 768px;
$md: 1080px;
$lg: 1441px;
